/* 左にルール、右にゲーム画面 */
.layout {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

/* 左側のルール欄 */
.rules {
  width: 550px;
  background: rgba(255, 255, 255, 0.47);
  margin-left: 10px;
  border-radius: 8px;
  border: 1px solid white;
}


.game-area {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;
}


.buttons {
  display: flex;
  gap: 10px;
}

body{
    background-color: rgba(255, 250, 205, 0.121);
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
    background-image: url("51jhxa+SKvL._AC_UF894,1000_QL80_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

h1{
    margin-left: auto;
    margin-right: auto;
}

.hand{
    /* background-color: rgb(180, 207, 239); */
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    color: rgb(9, 1, 1);
}

h3{
    color: rgba(15, 3, 3, 1);
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
}


#hit{
    font-size: 25px;
    width: 120px;
    height: 45px;
    margin: 20px;
    border: solid 1px black;
    outline: none;
    cursor: pointer;
    background-color: rgb(7, 163, 90);
}
#stand{
    font-size: 25px;
    width: 120px;
    height: 45px;
    margin: 20px;
    border: solid 1px black;
    outline: none;
    cursor: pointer;
    background-color: lightskyblue;
}
#restart{
    font-size: 25px;
    width: 150px;
    height: 45px;
    margin: 20px;
    border: solid 1px black;
    outline: none;
    cursor: pointer;
    background-color: gray;
}

.game-area{
    background-color: rgba(255, 255, 255, 0.5);
}
